body { padding-top: 50px;}
.header {
  border-bottom: 1px solid #e5e5e5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.article-item h3{
	padding:5px;
	margin:2px;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}